html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #cacaca;
    color: #333;
}

.footer {
    background-color: #a9a9a9;
    color: #333;
}

.Ksiazka{
    display : grid;
    grid-template-rows : 615px 1fr;
    grid-template-columns : 1fr 3fr 3fr;
    grid-column-gap : 10px;
    grid-row-gap : 5px;
    height : auto;
    grid-template-areas:
        "left       prev    drop"
        "button     box     box";
    padding : 10px;
}

@media (max-width: 760px){
    .Ksiazka{
        grid-template-rows: auto 1fr 8fr auto;
        grid-template-columns: 1fr;
        grid-row-gap:10px;
        grid-template-areas:
            "left"
            "drop"
            "prev"
            "button";
    }
}

.left{
    grid-area: left;
}

.prev {
    grid-area: prev;
}

.drop{
    grid-area: drop;
}

.button{
    grid-area: button;
}

.gallery-image {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .gallery-image img {
        height: 550px;
        transform: scale(1.0);
        transition: transform 0.4s ease;
    }

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 550px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    grid-column: span 2;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.outbutton {
    margin-left: 10px;
    scale: 0.001;
    transition: transform 0.3s ease;
}

.itemoopic:hover .outbutton {
    transform: scale(1000);
}

.img-box:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}

.upper{
    text-align:left;
}

.star-rating{
    direction:rtl;
    display:inline-flex;
    font-size:30px;
}

.star-rating input[type="radio"]{
    display:none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    padding: 0 0.1em;
    transition: color 0.2s;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5c518;
}

.star-rating input[type="radio"]:checked ~ label{
    color:#f5c518;
}

.star-rating input[type="radio"]:checked ~ label:hover,
.star-rating input[type="radio"]:checked ~ label:hover ~ label {
    color: #f3b53e;
}
:root {
    --star-color: #fff;
    --star-background: #fc0;
}

.Stars {
    --percent: calc(var(--rating)/5*100%);
    display: inline-block;
    font-size:30px;
    line-height: 1;
    margin-left: 5px;
    &::after{
        content: '\2605 \2605 \2605 \2605 \2605';
        letter-spacing: 3px;
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }
}
