html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Ksiazka{
    display : grid;
    grid-template-rows : auto 1fr auto ;
    grid-template-columns : 1fr 3fr 3fr;
    height : auto;
    grid-template-areas:
        "left       prev    drop"
        "button     box     box";
    padding : 10px;
}

@media (max-width: 760px){
    .Ksiazka{
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "left"
            "drop"
            "prev"
            "button";
    }
}

.left{
    grid-area: left;
}

.prev {
    grid-area: prev;
}

.drop{
    grid-area: drop;
}

.button{
    grid-area: button;
}