@model Autor
<div>
    <form asp-action="AddAuthor" method="post">
        <label>Imię: <input type="text" asp-for="Imie" /></label>
        <label>Nazwisko: <input type="text" asp-for="Nazwisko" /></label>
        <button type="submit" class="btn btn-info">Dodaj</button>
    </form>
</div>