@model Ksiazka;

<div class="w3-container w3-border">
    <p>Czy na pewno chcesz usunąć tę książkę z bazy danych?</p>
    <form asp-action="ConfirmDelete" method="post" asp-route-id="@Model.Id">
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
        <button type="submit" class="btn btn-primary">Usuń</button>
    </form>
</div>