@model Ksiazka

<h1>Edytuj książkę</h1>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="Ksiazka">
        <left>
            <p>
                <label asp-for="Tytul">Tytuł:</label>
                <input type ="text" asp-for="Tytul" class="form-control" required/>
            </p>
            <p>
                <label for="Autor">Autor</label>
                <select asp-for="AutorId" class="form-control" asp-items="ViewBag.ListaAutorow">
                    <option value="" disabled>-- Wybierz autora --</option>
                </select>
            </p>
            <p>
                <label asp-for="Gatunek">Gatunek:</label>
                <input asp-for="Gatunek" class="form-control" required/>
            </p>
            <p>
                <label asp-for="DataWydania">Data wydania:</label>
                <input type="date" asp-for="DataWydania" class="form-control" required />
            </p>
            <p>
                <label asp-for="LiczbaStron">Liczba stron:</label>
                <input asp-for="LiczbaStron" class="form-control" required/>
            </p>
            <p>
                <label asp-for="Oprawa">Oprawa:</label>
                <input asp-for="Oprawa" class="form-control" required/>
            </p>
            <p>
                <label asp-for="Wydanie">Wydanie:</label>
                <input asp-for="Wydanie" class="form-control" required/>
            </p>
            <p>
                <label asp-for="ISBN">ISBN:</label>
                <input asp-for="ISBN" class="form-control" required/>
            </p>
        </left>
        <img for="file" class="prev" id="preview" src="~/@Model.Okladka" alt="Image Preview" style="display: grid; width:100%; height: 100%; object-fit:contain" />
        <div class="drop" id="drop-zone" style="border: 2px dashed #ccc; padding: 20px; text-align: center; display:flex; flex-direction:column; align-items:center;justify-content:center;">
            <div style="padding:5px">Drag and drop an image file here or click to select.</div>
            <input type="file" id="file" name="file" accept="image/*" class="form-control" onchange="previewImage(event)" />
        </div>
        <button type="submit" class="form-control btn-success">Edytuj</button>
    </div>
</form>
<script>
    var dropZone = document.getElementById('drop-zone');
    var fileInput = document.getElementById('file');

    dropZone.addEventListener('click', function () {
        fileInput.click();
    });

    dropZone.addEventListener('dragover', function (e) {
        e.preventDefault();
        dropZone.style.backgroundColor = '#ccc'
    });

    dropZone.addEventListener('dragleave', function (e) {
        e.preventDefault();
        dropZone.style.backgroundColor = '#fff';
    });

    dropZone.addEventListener('drop', function (e) {
        e.preventDefault();
        dropZone.style.backgroundColor = '#fff';
        var files = e.dataTransfer.files;
        if (files.length > 0) {
            fileInput.files = files;
            previewImage({ target: { files: files } });
        }
    });
    //
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>